<div class="table-responsive">
    <table class="table mb-0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Participant</th>
            <th>Event</th>
            <th>Numero</th>

        </tr>
        </thead>
        <tbody>
          Hello MArhaba 
        </tbody>
{{ path('pdf', {'participant': participant.id}) }}
</table>
</div>