{% extends 'front.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <h1>Create new Participant</h1>
<section id="nouvelle-participant">
        {{ include('participant/_form.html.twig') }}
    </section>
{% endblock %}
