{% extends 'front.html.twig' %}
{% block header %}
{% endblock %}
{% block section %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block section2 %}
{% endblock %}
{% block title %}Profile{% endblock %}

{% block body %}
    <h1></h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
